
<section class="section">
    <h1 id="acerca" class="section__title">Acerca de mí</h1>
    <div class="section__elements">
        <div class="section__elements__element">
            <img src="./assets/images/technologies.png"/>
            <h2>Tecnologías</h2>
            <p>(C, C++, Java, Python, Matlab, MySQL, HTML, CSS, JavaScript, typeScript, React, Angular)</p>
        </div>
        <div class="section__elements__element">
            <img src="./assets/images/habilities.png"/>
            <h2>Habilidades</h2>
            <p>(Liderazgo, Trabajo en equipo, Aprendo rápido, Pensamiento creativo)</p>
        </div>
        <div class="section__elements__element">
            <img src="./assets/images/versions.png"/>
            <h2>Experiencia con control de versiones</h2>
            <p>(GIT y SVN)</p>
        </div>
    </div>
</section>