<section class="section">
    <h1 id="contact" class="section__title"><span>Contáctame</span></h1>
    <div class="section__contacts">
        <div class="section__contacts__contact">
            <a href="https://www.linkedin.com/in/isabella-carranzani-borot-a540ba1b0/" target="_blank" class="section__contacts__contact__anchor">
                <div class="section__contacts__contact__element">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </a>
            <p>Isabella Carranzani</p>
        </div>
        <div class="section__contacts__contact">
            <a href="mailto:icarranzani@uoc.edu" class="section__contacts__contact__anchor">
                <div class="section__contacts__contact__element">
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </a>
            <p>icarranzani@uoc.edu</p>
        </div>
        <div class="section__contacts__contact">
            <div class="section__contacts__contact__element">
                <i class="fa-solid fa-phone"></i>
            </div>
            <p>+34 666 111 777</p>
        </div>

    </div>
</section>