
<section class="section">
    <h1 id="estudios" class="section__title"><span>Mis </span>Estudios</h1>
    <div class="section__elements">
        <div class="section__elements__element">
            <h2>Máster en desarrollo de aplicaciones y sitios web</h2>
            <p>Universitat Oberta de Catalunya (UOC)</p>
            <p>Enero 2023</p>
        </div>
        <div class="section__elements__element">
            <h2>Grado en ingeniería informática</h2>
            <p>Universitat Pompeu Fabra (UPF)</p>
            <p>Diciembre 2020</p>
        </div>
        <div class="section__elements__element">
            <h2>Certificado en programación web con Python y JavaScript</h2>
            <p>HarvardX</p>
            <p>Abril 2021</p>
        </div>
    </div>
</section>