<section class="section">
    <h1 id="experiencias" class="section__title">Experiencia <span>laboral</span></h1>
    <div class="section__elements">
        <div class="section__elements__element">
            <h2>Frontend developer</h2>
            <p>Netrivals</p>
            <p>Enero 2022 - Actualmente</p>
        </div>
        <div class="section__elements__element">
            <h2>Frontend developer</h2>
            <p>Beabloo</p>
            <p>Julio 2020 - Enero 2022</p>
        </div>
        <div class="section__elements__element">
            <h2>Manager en tienda de ropa</h2>
            <p>Sweet & Cool</p>
            <p>Octubre 2019 - Octubre 2020</p>
        </div>
    </div>
</section>