<header class="header">
    <h1 class="header__title">IsabellaCV</h1>
    <nav class="header__nav">
        <ul>
            <li><a href="index.html#acerca">Acerca</a></li>
            <li><a href="index.html#estudios"> Estudios</a></li>
            <li><a href="index.html#experiencias">Experiencias</a></li>
            <li ><a href="index.html#contact" class="elem-with-background">¿Hablamos?</a></li>
        </ul>

        <div class="header__dropdown">
            <div class="header__dropdown__btn fa-solid fa-bars"></div>
            <div id="header-dropdown" class="header__dropdown__content">
                <a href="index.html#acerca" class="header__dropdown__content__anchor">Acerca</a>
                <a href="index.html#estudios" class="header__dropdown__content__anchor">Estudios</a>
                <a href="index.html#experiencias" class="header__dropdown__content__anchor">Experiencias</a>
                <a href="index.html#contact" class="header__dropdown__content__anchor elem-with-background">¿Hablamos?</a>
            </div>
          </div>
    </nav>
</header>