
<section class="section">
    <h1 id="idiomas" class="section__title">Idiomas</h1>
    <div class="section__flags">
        <div class="section__flags__flag">
            <div class="section__flags__flag__inner">
              <div class="section__flags__flag__inner__front flag-front">
                <img src="./assets/images/spanish.png"/>
              </div>
              <div class="section__flags__flag__inner__back flag-back">
                <h1>Español</h1> 
                <p>Nativo</p> 
              </div>
            </div>
        </div>
        <div class="section__flags__flag">
            <div class="section__flags__flag__inner">
              <div class="section__flags__flag__inner__front flag-front">
                <img src="./assets/images/catalan.png"/>
              </div>
              <div class="section__flags__flag__inner__back flag-back">
                <h1>Catalán</h1> 
                <p>Nativo</p> 
              </div>
            </div>
        </div>
        <div class="section__flags__flag">
            <div class="section__flags__flag__inner">
              <div class="section__flags__flag__inner__front flag-front">
                <img src="./assets/images/english.png"/>
              </div>
              <div class="section__flags__flag__inner__back flag-back">
                <h1>Inglés</h1> 
                <p>Avanzado</p> 
              </div>
            </div>
        </div>
        <div class="section__flags__flag">
            <div class="section__flags__flag__inner">
              <div class="section__flags__flag__inner__front flag-front">
                <img src="./assets/images/french.png"/>
              </div>
              <div class="section__flags__flag__inner__back flag-back">
                <h1>Francés</h1> 
                <p>Principiante</p> 
              </div>
            </div>
        </div>

    </div>
</section>